html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}
#head,#page2,#page3,#page6{
    width: 100%;
    height: 605px;
    overflow: hidden;
}
#page5{
    width: 100%;
    height: 700px;
    overflow: hidden;
}

#page4{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.headback{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.page3back{
    width: 100%;
    height: 100%;
    z-index: -1;
}
.page3-screen{
    position: relative;
    bottom: 1210px;
    height: 70%;
    display: block;
     margin-top: 100px; 
     margin-right: 0%;
     float: right;
}
.headbackcolor{
    background-color: rgba(12, 10, 8, 0.61);
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 605px;
}
.head-image,.page3-image{
    height: 100%;
    width: 100%;
    display: block;
}
.headfont{
    position: relative;
    margin: 0;
    bottom: 605px;
    text-align: center;
}
.headfonttittle,.page3text .tittle{
    margin-top: 130px;
    font-size: 3em;
    color: rgb(245, 245, 245);
    font-weight: 300;
}
.headfonttext,.page3text .text{
    font-weight: 300;
    color: rgba(255, 255, 255, 0.568);
}
.headform{
    position: relative;
    bottom: 605px;
    margin: 40px auto;
    border-style: solid ;
    border-width: 2px;
    border-color: rgba(236, 235, 233, 0.445);
    border-radius: 10px;
    box-sizing: border-box;
    width: 850px;
    display: flex;
    flex-direction: column;
    height: 230px;
}
.headform .tittle{
    color: rgba(252, 249, 246, 0.89);
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
}
.headform .text{
    color: rgba(252, 249, 246, 0.616);
    text-transform: uppercase;
    font-size: 0.3em;
    text-align: center;
    margin-top: 0;
    font-family: Montserrat-Light;
}
.headform form{
    margin: 40px auto;
}
input{
    color: rgb(245, 245, 245);
}
.headform .input-field{
    width: 292px;
    height: 50px;
    padding: 18px 0 18px 22px;
    margin-right: 30px;
    box-sizing: border-box;
	border-radius: 2px;
	border: solid 1px rgba(255, 255, 255, 0.2);
    background: transparent;
}

.headform .sign-up,.page3text .CheckoutFeatures,.page3text .TryproductforFree{
    color: rgb(0, 0, 0);
    background-color: rgb(245, 245, 245);
    text-align: center;
    border: 0;
    height: 40px;
    width: 130px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}
.page3text .CheckoutFeatures{
    width: 170px;
}
.page3text .TryproductforFree{
    background-color: transparent;
    width: 170px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    color: rgba(245, 245, 245, 0.486);
    font-weight: 400;
    position: relative;
    left: 10px;
}
.headform .sign-up:active{
    border: 0;
    border-color: rgb(245, 245, 245);
    outline: none;
}
.p2head{
    text-align: center;
    margin-top: 90px;
}
.p2head p{
    text-transform: uppercase;
    /* letter-spacing: 0.2em; */
    font-weight: 400;
    font-size: 0.8em;
    margin-bottom: 2em;
}
.p2head h2{
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 1.2em;

}
.p2text{
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    margin-left: 20%;
}
.iphone,.check,.pencil,.setting{
    flex: 50%;
    margin-bottom: 60px;
    margin-top: 40px;
    /* overflow: hidden; */
}
.iphone img,.iphone .texto,.check .texto,.check img,.pencil .texto,.pencil img,.setting img,.setting .texto{
    float: left;
}
.iphone .texto,.check .texto,.pencil .texto,.setting .texto{
    position: relative;
    left: 20px;
    bottom: 20px;
    margin: 0;
}
.texto .tittle{
    font-weight: bold;
}
.texto .text{
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.521);
}
.page3text{
    width: 70%;
    left: 15%;
    bottom: 605px;
    position: relative;
}
.page3text .tittle{
    font-size: 2em;;
}
.page3text .text{
    line-height: 1.5em;
}
#page4 .tittle{
    text-align: center;
    font-weight: 400;
}
#page4 .text{
    display: flex;
    flex-flow: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}
.portlaned p,.singleton p,.hero p{
    font-weight: 300;
    line-height: 1.5em;
}
.hero,.portlaned{
    position: relative;
    bottom: 13px;
}
#page5 .tree,#page5 .bird{
    display: flex;
    /* width: 2000px; */
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 50px;
    margin-left: 10%; */
    position: relative;
    /* bottom: 605px; */
}
#page5 .bird{
    margin-top: 40px;
}
.tree .tree-text{
    position: relative;
    right: 60px;
}
 .bird .bird-text{
     position: relative;
     left: 60px;
 }
.tree .tree-text p,.bird .bird-text p,.tree .tree-text h3,.bird .bird-text h3{
    line-height: 1.5em;
}
/* .tree .tree-text{
    left: 200px;
} */
.p5text{
    margin-left: 5%;
    margin-right: 5%;
}
#page5 img{
    height: auto;
    width: 510px;
}