html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}
#head{
    width: 100%;
    height: 990px;
}
.headback{
    position: absolute;
    width: 100%;
    height: 100%;
}
.headbackcolor{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #616161;
    bottom: 990px;
}
.head-image{
    width: 100%;
    height: 100%;
}
/* #headbackimage{
    width: 100%;
    height: 100%;
} */