html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}
#head{
    width: 100%;
    height: 605px;
}
.headback{
    width: 100%;
    height: 100%;;
}
.headbackcolor{
    background-color: rgba(12, 10, 8, 0.61);
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 990px;
}
.head-image{
    height: 100%;
    width: 100%;
    display: block;
}